<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
      <add key="profileFile" value="%COMMONPROGRAMFILES%\File Amalgamation Service\File Amalgamation Service.json"/>
      <add key="watcherTimer" value="5"/>
      <add key="ConfigType" value="JSON"/>
    </appSettings>
</configuration>