<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
      <add key="profileFile" value="C:\Users\admin\Documents\File Amalgamation Service.json"/>
      <add key="watcherTimer" value="5"/>
    </appSettings>
</configuration>